<div class="row">
    <div class="col-12 d-flex justify-content-between">
        <h2>Teams</h2>
        <button type="button" class="btn btn-success" [routerLink]="['/', { outlets: { popup: 'team/create'} }]">
            New Team
        </button>
    </div>
</div>
<div class="row mt-4">
    <div class="col-6 mb-3" *ngFor="let team of teams; let i = index">
        <div class="card">
            <div class="card-body">
                <div class="row mb-2">
                    <div class="col">
                        <h4 class="modal-title fw-bold">Team</h4>
                    </div>
                </div>
                <p class="card-text">Players</p>
                <div class="row mt-1">
                    <div class="d-flex justify-content-end py-0">
                        <button class="btn btn-sm btn-primary me-1">
                            <fa-icon [icon]="faEye"></fa-icon>
                        </button>
                        <button class="btn btn-sm btn-primary">
                            <fa-icon [icon]="faPenToSquare"></fa-icon>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
