<div class="row">
    <div class="col-12 d-flex justify-content-between">
        <h2>Players</h2>
        <button type="button" class="btn btn-success" [routerLink]="['/', { outlets: { popup: 'player/create'} }]">
            New Player
        </button>
    </div>
</div>
<div class="row mt-4">
    <div class="col-md-4 mb-3" *ngFor="let player of players; let i = index">
        <div class="card">
            <div class="card-body">
                <div class="row mb-2">
                    <div class="col d-flex justify-content-between">
                        <h4 class="modal-title fw-bold">{{player.nome}}</h4>
                        <span class="ms-auto overall"
                              [class.ov-c]="player.overall < 60"
                              [class.ov-b]="player.overall >= 60 && player.overall < 70"
                              [class.ov-a]="player.overall >= 70 && player.overall < 80"
                              [class.ov-s]="player.overall >= 80 && player.overall < 90"
                              [class.ov-ss]="player.overall >= 90 && player.overall < 100"
                              [class.ov-mitica]="player.overall >= 100">
                            {{player.overall}}
                        </span>
                    </div>
                </div>
                <p class="card-text">History</p>
                <div class="row mt-1">
                    <div class="d-flex justify-content-end py-0">
                        <button class="btn btn-sm btn-primary me-1" [routerLink]="['/', { outlets: { popup: 'player/detail/'+ player.id} }]">
                            <fa-icon [icon]="faEye"></fa-icon>
                        </button>
                        <button class="btn btn-sm btn-primary me-1" [routerLink]="['/', { outlets: { popup: 'player/update/'+ player.id} }]">
                            <fa-icon [icon]="faPenToSquare"></fa-icon>
                        </button>
                        <button class="btn btn-sm btn-primary" (click)="deletePlayer(player.id)">
                            <fa-icon [icon]="faTrash"></fa-icon>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
